# Исключаем директории IDE и системные файлы
.idea/
.vscode/
.DS_Store
*~

# Исключаем локальное виртуальное окружение
venv/
.venv/
env/

# Исключаем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем Git
.git/
.gitignore

# Исключаем логи и базы данных из контекста сборки
# (они будут подключаться через volumes)
logs/
*.log
db/
*.sqlite
*.sqlite3

# Исключаем временные файлы
downloaded_image.jpg