# Main dependencies
nltk==3.8.1
rake-nltk==1.0.4
lxml==4.9.3
lxml-html-clean==0.4.1
aiogram==3.15.0
playwright==1.49.0
loguru==0.7.0
newspaper3k==0.2.8
textstat==0.7.3
edge-tts==6.1.19
python-dotenv==1.0.0

# Dependencies for document processing
python-docx==1.1.2        # For working with DOCX files
EbookLib==0.18             # For working with EPUB files
chardet==5.1.0             # For determining file encoding
